* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background-color: #F4F6F7;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #0B3C5D;
  color: white;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #328CC1;
}

/* Hero */
.hero {
  height: 70vh;
  background: linear-gradient(
    rgba(11, 60, 93, 0.8),
    rgba(11, 60, 93, 0.8)
  ),
  url("campus.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
}

.hero-content {
  color: white;
  max-width: 600px;
  margin-left: 80px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero button {
  background-color: #328CC1;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
}

.hero button:hover {
  background-color: #1e6fa3;
}

/* Sections */
section {
  padding: 70px 80px;
}

section h2 {
  color: #0B3C5D;
  margin-bottom: 20px;
}

/* Departments */
.dept-cards {
  display: flex;
  gap: 30px;
}

.card {
  background-color: white;
  padding: 40px;
  flex: 1;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

/* Footer */
footer {
  background-color: #0B3C5D;
  color: white;
  text-align: center;
  padding: 20px;
}